h1{background-color: crimson;}
h2{background-color: green;}
h3{background-color: darkblue;}
div{width: 100px;
height: 100px;
background-color: olive;}
#awa{background-color: paleturquoise;}



}